*, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
    font-family: 'rubikregular';
}

.navbar-brand img, .navbar-toggler img {
    width: 30px;
    height: 30px;
}

.navbar-brand .logo {
    font-family: 'rubikmedium';
    color: #00A07E;
    letter-spacing: 2px;
}

.nav-item a {
    letter-spacing: 2px;
    color: gray;
}

/* ================= Carousel ================= */
@media only screen and (max-width: 600px) {
    #carousel {
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    .carousel-item {
        height: 100%;
    }
    .carousel-inner {
        height: 300px;
    }
    .carousel-item img {
        margin-top: -100px;
        width: 100%;
    }
}

@media only screen and (min-width: 769px) {
    .carousel-inner {
        height: 400px;
        /* overflow: hidden; */
    }
    .carousel-item img {
        margin-top: -150px;
    }
}

@media only screen and (min-width: 992px) {
    .carousel-item img {
        margin-top: -250px;
    }
}

@media only screen and (min-width: 1200px) {
    .carousel-item img {
        margin-top: -350px;
    }
}



/* ================= MAIN ================= */
#main {
    margin-top: 50px;
    overflow: hidden;
}

.case-member {
    margin-top: 20px;
}

.member {
    -webkit-clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
    clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);
    background-image: linear-gradient(to right, #00A07E 0%, #43e97b 100%);
    height: 55px;
    position: relative;
    z-index: 1;
}

.member p {
    line-height: 55px;
    font-family: 'rubikregular';
    text-transform: uppercase;
}

#member-img {
    position: relative;
    height: 55px;
    width: 55px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: -15px;
    border: 2px solid rgba(68, 68, 68, .6);
    z-index: 2;
}

#member-img img {
    max-width: 100%;
}

#badge {
    position: absolute;
    z-index: 3;
    top: 15px;
    right: 15px;
}